.container {
	max-width: 1100px;
	margin: 0 auto -60px;
}

.main-content {
	@media #{$desktop} {
		display: flex;
	}
	padding: 0 30px 50px 30px;
}

.content {
	@media #{$desktop} {
		flex: 1;
	}
}

.image {
	max-width: 800px;
}