---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}
	{% if page.featured_image %}
	<div class="image">
		<img src="{{ site.baseurl }}{{ page.featured_image }}" alt="{{ page.title }}">
	</div>
	{% endif %}

	<ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		{% if page.recipe.prep %}
			<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		{% endif %}
		{% if page.recipe.cook %}
			<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
		{% endif %}
	</ul>

	{% if page.adapted_from %}
	<div class="original-recipe">
		Adapted from <a href="{{ page.adapted_from.link }}">{{ page.adapted_from.author }}'s {{ page.adapted_from.recipe_name }}</a>
	</div>
	{% endif %}

	<div class="recipe-body">
		{{ content }}
	</div>

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Ingredients</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>

		<div class="directions">
			<h2>Directions</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});
</script>
